extends layout.pug

block content
  h2(style="margin-top: 0; color: #333;") Password Reset Request

  p Hello #{firstName},

  p We received a request to reset your password for your EdTech Platform account. Click the button below to set a new password:

  div(style="text-align: center;")
    a.button(href=resetUrl) Reset Password

  .info-box(style="background: #fff3cd; border-left-color: #856404;")
    p(style="margin: 0; color: #856404;")
      strong ⚠️ This password reset link will expire in #{expiryTime || '10 minutes'}.

  p If you didn't request a password reset, please ignore this email or contact support if you have concerns.

  p For security reasons, never share this link with anyone. Our team will never ask for your password.

  p(style="margin-top: 30px;")
    strong Stay secure,<br>
    The EdTech Security Team